/* Login */
body {
  background-color: #d8d8d8;
}
#main {
  width: 300px;
  margin: 0 auto;
  padding-top: 40px;
  padding-left: 10px;
  padding-bottom: 10px;
  padding-right: 10px;
  background-color: whitesmoke;
  border-radius: 6px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  margin-top: 150px;
}

img {
  border: 2px rgb(0, 0, 0) solid;
  height: 70px;
  width: 70px;
  border-radius: 50px;
  margin-left: 110px;
  position: absolute;
  margin-top: -70px;
  background-color: #ffffff;
}

h1 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: black;
  text-align: center;
  font-size: 20px;
  margin-top: 20px;
  padding: 10px;
}

form input {
  margin: 5px;
  padding: 10px;
  border: 2px gold solid;
  border-radius: 17px;
  width: 200px;
  margin-left: 40px;
}
form button {
  margin: 5px;
  padding: 5px;
  border: 1px gold solid;
  background-color: rgb(60, 96, 255);
  border-radius: 12px;
  width: 100px;
  height: 40px;
  color: rgb(255, 255, 255);
  margin-left: 100px;
  cursor: pointer;
}

form button:hover {
  background-color: #d8d8d8;
}

a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  text-align: center;
  margin-left: 0;
}
