/* font */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Ubuntu:wght@300;500&;700&display=swap');

html {
  scroll-behavior: smooth;
}

/* NavBar */
.container .navbar-brand {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 500;
}

.nav-link {
  font-family: 'Roboto', sans-serif;
  margin-right: 30px;
}

.nav-link:hover::after {
  content: '';
  display: block;
  border-bottom: 3px solid #59a5ff;
  width: 80%;
  margin: auto;
  padding-bottom: 5px;
  margin-bottom: -8px;
}

/* Jumbotron */
.carousel-inner .carousel-item {
  height: 570px;
}

/* Button */
.btn {
  border-radius: 40px;
}

/* Rooms */
#Rooms {
  background-color: #d8d8d8;
}

/* Contact */
#Contact img {
  height: 40px;
  margin: 5px;
}

#Contact h3 {
  font-family: 'Roboto', sans-serif;
  border: 2px solid black;
}

/* footer */
footer {
  color: black;
  background-color: #d8d8d8;
  text-align: center;
}
footer a {
  text-decoration: none;
  color: black;
}
section {
  padding-top: 4rem;
}


